body {
  font-family: 'Fuzzy Bubbles', cursive;
  background-color: #eaac8b;
}

h1 {
  text-align: center;
  color: #6d597a;
  font-size: 72px;
  margin: 20px 0;
}

.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #6d597a;
  border-radius: 4px;
  gap: 5px;
  padding: 10px;
  background-color: #6d597a;
}

.cell-image {
  border: 1px solid #6d597a;
  color: #6d597a;
  border-radius: 4px;
  background-color: white;
  font-size: 100px;
  text-align: center;
  line-height: 161px;
  vertical-align: middle;
}

.cell:hover {
  background-color: rgb(209, 209, 209);
}

.hidden {
  display: none;
}

.player-input {
  display: block;
  margin: 0 auto;
  width: 500px;
  border: 4px solid #6d597a;
  border-radius: 4px;
  justify-items: center;
  align-items: center;
  background-color: white;
  padding: 20px;
}

label {
  font-size: 24px;
  color: #6d597a;
}

input[type=text] {
  width: 200px;
  border: 1px solid #6d597a;
  border-radius: 4px;
  height: 24px;
  margin: 10px auto;
}

input[type=submit], button {
  display: block;
  margin: 10px auto 0;
  width: 80%;
  padding: 5px 0;
  font-family: 'Fuzzy Bubbles', cursive;
  background-color: #6d597a;
  border: 1px solid #6d597a;
  color: white;
  border-radius: 4px;
  font-size: 24px;
}

input[type=submit]:hover, button:hover {
  background-color: white;
  color: #6d597a;
}

.play-again {
  width: 300px;
  position: relative;
  top: -300px;
}

.player-computer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: #6d597a;
  margin: 20px 0;
}

.score-box {
  color: #6d597a;
  font-size: 28px;
  margin: 0 auto 20px;
  width: fit-content;
}